<div class="body">
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="form-container">
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Course Name</mat-label>
          <input matInput formControlName="title" placeholder="Enter course name">
          <mat-icon matPrefix>school</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" placeholder="Enter description"></textarea>
          <mat-icon matPrefix>description</mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="button-container">
        <button mat-raised-button class="black-button" type="submit" [disabled]="!courseForm.valid" >
          <mat-icon>send</mat-icon> Submit
        </button>
        <button mat-raised-button class="black-button" type="button" (click)="onCancel()">
          <mat-icon>cancel</mat-icon> Cancel
      </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
