<div class="body">
  @if(loading) {
    <div class="loading-container">
      <mat-spinner diameter="50"></mat-spinner>
      <p>טוען קורסים...</p>
    </div>
  }

  @if(!loading && courses.length > 0) {
    <ul class="courses-grid">
      @for(course of courses; track course.teacherId) {
        <li class="course-card" appHover>
          @if(role=='student') {
            <div class="top-left-buttons">
              @if(isUserEnrolled(course.id)==false) {
                <button class="icon-button large-icon-button" (click)="enroll(course.id)">
                  <mat-icon>person_add</mat-icon>
                  <span class="button-text-small">Enroll</span>
                </button>
              }
              @if(isUserEnrolled(course.id)==true) {
                <button class="icon-button large-icon-button" (click)="unenroll(course.id)">
                  <mat-icon>exit_to_app</mat-icon>
                  <span class="button-text-small">Unenroll</span>
                </button>
              }
            </div>
          }

          <div class="course-image">
          </div>
          <div class="course-content">
            <h3>{{ course.title }}</h3>
            <p>{{ course.description }}</p>
            <span class="teacher">מורה: {{ course.teacherId }}</span>
          </div>
          <div class="buttons-container">
            <button [routerLink]="['/navbar', course.id]" class="black-button">צפה בקורס</button>
            @if(role=='teacher') {
              <button class="icon-button" (click)="Adit(course.id)"><mat-icon>edit</mat-icon></button>
              <button class="icon-button" (click)="Delete(course.id)"><mat-icon>delete</mat-icon></button>
            }
          </div>
        </li>
      }
    </ul>
  }

  @if(!loading && courses.length == 0) {
    <p>אין קורסים להצגה.</p>
  }
  <router-outlet/>
</div>


