.mat-toolbar {
  background: black !important;
  color: white;
  display: flex;
  justify-content: flex-start; /* יישור שמאלי */
  padding: 10px 20px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s;
}

.menu-item:hover {
  color: lightgray;
}
